body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #fffde7;
    color: #333;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    padding: 10px 0;
    margin-bottom: 20px;
}

header h1 {
    margin: 0;
}

.contact-info p {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 0;
}

.section {
    margin-bottom: 20px;
}

.section h2 {
    border-bottom: 2px solid #e8491d;
    padding-bottom: 10px;
}

.section p {
    margin: 10px 0;
}

.skills ul {
    list-style-type: none;
    padding: 0;
}

.skills ul li {
    background: #e8491d;
    color: #fff;
    padding: 10px;
    margin: 5px 0;
    display: inline-block;
}

.icon {
    width: 24px;
    height: 24px;
    vertical-align: middle;
    margin-right: 10px;
    fill: #333; /* This ensures the icon is filled with a color */
}
